:root {
    --main-color:#FFF;
    --main-brand-color: #AFCDE7;
    --second-brand-color: #D8E6F3;
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2rem;
}

.wrapper__file-selector {
    margin-top: 20px;
}

.file-selector__title {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-brand-color);
    text-align: center;
}

.file-selector__title:hover {
    background-color: var(--second-brand-color);
}

.file-selector__btn {
    display: none;
}

.log-table-common {
    width: 80vw;
    font-size: 1rem;
    text-align: center;
    border-collapse: collapse;
}

.log-table__common-cell {
    border: 1px solid var(--main-color);
}

.log-table__cell {
    background: var(--second-brand-color);
    padding: 10px 20px;
}

.log-table__title-cell {
    background: var(--main-brand-color);
    color: var(--main-color);
    padding: 20px 20px;
}